# cubecraft.net
say Loading_config_for_cubecraft
say Last_Updated:_04.12.2016_15:29
#
#
say §4Please_load_NCP_config_first!§r
#
#
value TargetEntitys IgnoreElytra true
bind Step 80
toggle Step 1
value Step AirStep false
value Step PreStep true
# end
